<head>
<script id="hotmart_launcher_script">
	(function(l,a,u,n,c,h,e,r){l['HotmartLauncherObject']=c;l[c]=l[c]||function(){
	(l[c].q=l[c].q||[]).push(arguments)},l[c].l=1*new Date();h=a.createElement(u),
	e=a.getElementsByTagName(u)[0];h.async=1;h.src=n;e.parentNode.insertBefore(h,e)
	})(window,document,'script','//launcher.hotmart.com/launcher.js','hot');
	hot('account','20566118-6ad9-40b2-aff3-fb639846f1b6');
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); 
    ga('create', 'UA-59300081-1', 'auto');
    ga('require', 'displayfeatures');
    ga('linker:autoLink', ['alimotel.50x.com.br']);
    ga('send', 'pageview', '/?url=' + document.location.pathname + document.location.search + '&ref=' + document.referrer);
</script>
<!-- Meta Pixel Code alimotel-->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '272957121792394');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=272957121792394&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
	<!--<script language= "JavaScript"> location.href="//gean.me/mapa2" </script>-->
</head>

